<div class="messages_page">
  <div><%= flash[:messages] if flash[:messages]%></div>
    <div class="users">
        <h1><b>Conversations</b></h1>
        <% User.all.map do |user| %>
            <p class="pr-img-l"><%= image_tag(user.avatar.variant(resize: "50x50!")) if user.avatar.attached? %></p>
            <p><%= link_to user.username, show_messages_path(user), method: :post %></p>
        <%end%>
        </div>
        <div class="messages">
          <h1><b><%= link_to @from.username, user_path(@from) %></b></h1>

          <div class="message-inner">
          <% if @from%>
            <% @messages.each do |message| %>
              <p class=<%= message.from == @user ?  "from" : "to" %>>
              <%= message.title %>
              <%= message.text %></p>
            <% end %>
          <% end %>
          </div>

    </div>
</div>

<% if @from %>
  <%= form_for Message.new do |f|%>

  <p>
    <%= f.label :text%>
    <%= f.text_area :text%>
  </p>
  <p>
    <%= f.hidden_field :from_id, value: @user.id%>
  </p>
  <p>
    <%= f.hidden_field :to_id, value: @from.id%>
  </p>
  <p>
    <%= f.submit "Send"%>
  </p>
  <% end %>
<% end %>


