<h1>This is your personal page.</h1>
<p>here will be different cool things and settings </p>
<% if @cont_room %>
  <%= link_to "Continue a game", room_path(@cont_room)%>
<% end %>
<br>
<%= link_to "Start a game", new_room_path %>
<br>
<%= link_to 'Edit user', edit_user_path(curr_user) %>
<br>

<div class="main-container">
<table>
  <tr>
    <td>Win:</td>
    <td><%= @wins %></td>
  </tr>
  <tr>
    <td>Loss:</td>
    <td><%= @loses %></td>
  </tr>
  <tr>
    <td>Draw:</td>
    <td><%= @draws %></td>
  </tr>
  <tr>
    <td>Total:</td>
    <td><%= @total %></td>
  </tr>
    <tr>
    <td>Your success ratio:</td>
    <td><%= @ratio %>%</td>
  </tr>
</table>
</div>

