<h1>Sign Up</h1>
<%= form_for @user do |f|%>
<p>
  <%= f.label :username %>
  <%= f.text_field :username %>
</p>

<p>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Sign Up"%>
</p>
<% end %>
