<h1>Tic Tac Toe</h1>
<%= link_to "go back", home_path%>
<% if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <h2><%= error %></h2>
  <% end %>
<% end %>


<h1><%= "Waiting for the other player, please refresh" unless @your_turn%></h1>

<%= link_to "Concede", concede_path(@room), method: :post%>


<div class="game">
  <div class="board">
    <%= form_tag room_path(@room), method: :patch do%>
      <% (0..8).each do |n| %>
        <%= "<br>".html_safe if n > 0 && n % 3 == 0%>
        <%= render partial: "tictactoe/box", locals: {num: n, box: @game.boxes[n]}%>
      <% end %>
      <%= submit_tag "Pass the turn", disabled: !@your_turn%>
    <% end %>
  </div>

</div>
