<h1>Tic Tac Toe</h1>
<%= link_to "Go back", home_path%>
<h2><%= flash[:message] if flash[:message]%></h2>
<% if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <h3><%= error %></h3>
  <% end %>
<% end %>


<h2><%= "Waiting for the other player, please refresh" unless (@your_turn || !@active)%></h2>

<%= link_to("Concede", concede_path(@room), method: :post) if @active%>


<div class="game">
  <div class="board">
    <%= form_tag room_path(@room), method: :patch do%>
      <% (0..8).each do |n| %>
        <%= "<br>".html_safe if n > 0 && n % 3 == 0%>
        <%= render partial: "tictactoe/box", locals: {num: n, box: @boxes[n]}%>
      <% end %>
<<<<<<< HEAD
      <div id="endturnbutton"><%= submit_tag "End Turn", disabled: !@your_turn%></div>
=======
      <br>
      <%= submit_tag "Pass the turn", disabled: !@your_turn%>
>>>>>>> dev
    <% end %>
  </div>

</div>
