<h1>Tic Tac Toe</h1>
<%= link_to "go back", home_path%>


<div class="game">
  <div class="board">
    <%= form_tag room_path(@room), method: :patch do%>
      <% (0..8).each do |n| %>
        <%= "<br>".html_safe if n > 0 && n % 3 == 0%>
        <%= render partial: "tictactoe/box", locals: {num: n, box: @game.boxes[n]}%>
      <% end %>
      <%= submit_tag "Pass the turn"%>
    <% end %>
  </div>
</div>
