<h1>Tic Tac Toe</h1>
<%= link_to "Go back", home_path%>
<h1><%= flash[:message] if flash[:message]%></h1>
<% if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <h4><%= error %></h4>
  <% end %>
<% end %>


<h2><%= "Waiting for the other player, please refresh" unless (@your_turn || !@active)%></h2>

<%= link_to_if @active, "Concede", concede_path(@room), method: :post%>


<div class="game">
  <div class="board">
    <%= form_tag room_path(@room), method: :patch do%>
      <% (0..8).each do |n| %>
        <%= "<br>".html_safe if n > 0 && n % 3 == 0%>
        <%= render partial: "tictactoe/box", locals: {num: n, box: @boxes[n]}%>
      <% end %>
      <%= submit_tag "Pass the turn", disabled: !@your_turn%>
    <% end %>
  </div>

</div>
