<!DOCTYPE html>
<html>
  <head>
    <title>Mod2project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8ca52b66ba.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'tictactoe', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% n = (@room.host.username == curr_user ? 0 : 1)%>
    <%= stylesheet_link_tag    "tictactoe#{n}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "partials/side_menu"%>

      <%= render "users/user_header" if curr_user %>
    <%= yield %>
  </body>
</html>
